/*
{{87D64F}}: (don't include the '#')
{{87D64F_Shade}}: #{{87D64F_Shade}}; (goto http://www.color-hex.com/color/{{87D64F}} ; use the second Shade -- just needs to be a little bit darker.)
{{d3ffce}}: (don't include the '#')
{{d3ffce_Tint}}: #{{d3ffce_Tint}}; (goto http://www.color-hex.com/color/{{d3ffce}} ; find the color similar to e_e_e_) (Make sure this color is accessible by going to http://accessible-colors.com and checking d3ffce_Tint on a background of both 87D64F and d3ffce; select the suggested text color that works for both backgrounds)
{{https://github.com/VisionDatabaseSupport/franklinkeith/blob/master/franklinkeith.css
*/

html {
  background: #{{87D64F}};
}

.splash {
  background-color: #{{87D64F}};
}

.splash .loading path {
  fill: #fff;
}

header.header-main {
  background-color: #{{87D64F}};
  height:10.5em;
}

.logo {
  background: url('//https://github.com/VisionDatabaseSupport/franklinkeith/blob/master/APlus-Logo.png') top center no-repeat;
  display: inline-block;
  max-width: 400px !important;
  background-size: contain;
}

header.header-page {
  background-color:#{{d3ffce}};
}

.header-page .tabs li a {
  border-bottom-color:#{{d3ffce}};
  color: #{{d3ffce_Tint}};
}

.header-page .tabs li a:hover,
.header-page .tabs li a:focus
{
  color: #fff;
}

/* Keep this block only if it looks good. */
.header-page .tabs a.active {
    border-bottom-color: #{{87D64F}};
}

.header-page .buttons button {
  background-color: #{{87D64F}};
  color: #fff;
}

.header-page button {
  background-color: #{{d3ffce}};
  color: #fff;
}

.header-page .buttons button:hover,
.header-page .buttons button:focus 
{
  background-color: #{{d3ffce_Tint}};
  color: #{{87D64F}};

  /* Alternative if the above doesn't look so great.
  background-color: #{{d3ffce}};
  color: #fff;
   */
}

.header-page .filters .filter:hover select,
.header-page .filters .filter:focus-within select {
    background-color: #{{87D64F}};
    color: #fff;
}

.header-page .filters .filter:hover:after,
.header-page .filters .filter:focus-within:after {
    color: #fff;
}

button {
    background-color: #{{d3ffce}};
}

button:hover,
button:focus {
    background-color: #{{d3ffce_Tint}};
}

router-view .buttons button.primary,
#accept-terms,
button.submit-login
{
    background-color: #{{87D64F}};
}

router-view .buttons button.primary:hover,
router-view .buttons button.primary:focus,
#accept-terms:hover,
#accept-terms:focus,
button.submit-login:hover,
button.submit-login:focus
{
    background-color: #{{87D64F_Shade}};
}

.user-info {
    color: #fff;
}

.user-info a {
    color: #{{d3ffce_Tint}};
}

.user-info a:hover,
.user-info a:focus {
    color: #fff;
}

.open-nav {
    color: #ddd;
}

.open-nav:hover,
.open-nav:focus
{
    color: #fff;
}

.admin-links .fa {
    color: #{{d3ffce_Tint}}; /*default #007bff*/
}

table th,
table td {
    background: #{{d3ffce_Tint}};
}

.footer {
    background: #{{87D64F}};	
}

/* Uncomment this block if the organization has a Plus Account.
img.photos--preview {
    border-bottom: 0px;
}
*/

/* Uncomment this block to hide the Download photos button.
   HOWEVER: if the client is downloading photos using an external tool (e.g. RapidCard Elite or the CloudCard Image Server), 
	they should be migrated over to using the `EXTERNAL` download strategy rather than hiding the download button.
button.download_button {
	display: none;
}
*/
